# Backend
backend/node_modules/
backend/.env
backend/uploads/*
!backend/uploads/.gitkeep
backend/prisma/dev.db
backend/prisma/dev.db-journal

# Frontend
frontend/node_modules/

# OS files
.DS_Store
desktop.ini
Thumbs.db
